*{
    margin: 0;
    padding: 0;
}
ul, li {list-style: none;}

.frame {
    padding : 20px; 
    border: 1px solid blue;
    width: 100%;
    .items {
        font-weight: bold;
        color: #781b2e;
        .item {
            margin: 10px;
            font-size: 18px;
            border: 1px solid #000;
            list-style: none;
            display: inline-block;
        }
    }
}


$red:#1a512f;

.variables{
    text-align: center;
    border: 1px solid $red;
    span{
        color: $red;
    }
}

.nesting{
    border: 1px solid black;
    span{
        margin-top: 10px;
    }
    color: red;
    
}

.txt_deco{
    text-decoration: line-through;
    background-color: #17fd;
}

.txt_bd{
    font-weight: 800;
}

.extand{
    h1{
        @extend .txt_deco;
        a{
            font-weight: 200;
            color: $red;
            span{
                @extend .txt_bd;
            }
        }
    }
}


@import "test2";

.shape-01 {
    border-radius: 50% 0 50% 50%;
}

.figma{
    display: flex;
    width: 20%;
    margin: 50px auto 0;
    max-width: 200px;
    flex-wrap: wrap;

    .headline{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .shape{
        width: 50%;
        padding-bottom: 50%;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
        }

        $red: #ff2e2e;
        $orange: #ff8b0f;
        $purple: #b654c1;
        $blue: #6d90eb;
        $green: #17952a;

        &.shape1::before{
            @extend .shape-01;
            background-color: $red;
        }
        &.shape2::before{
            background-color: $orange;
            border-radius: 0 50% 50%;
        }
        &.shape3::before{
            background-color: $purple;
            border-radius: 50% 0 0 50%;
        }
        &.shape4::before{
            background-color: $blue;
            border-radius: 50%;
        }
        &.shape5::before{
            @extend .shape-01;
            background-color: $green;
        }
    }
}

.test-area {
     max-width: 900px;
     margin: 40px auto 0;
     display: block;
     background-color: #000;
     min-height: 600px;
 }

 .arcodian{
    border: 1px solid black;
    width: 200px;
    > ul{
        background-color: rgba($color: #3e3e3e, $alpha: 1.0);
        > li {
            color: #fff;
            span{
                padding: 0 10px;
                height: 40px;
                line-height: 40px;
            }
            > ul {
                overflow: hidden;
                li {
                    height: 0px;
                    line-height: 30px;
                    transition: 0.3s;
                    background-color: rgba($color: #000000, $alpha: 0.2);
                    font-size: 14px;
                    text-indent: 20px;
                }
            }
            &:hover{
                >ul{
                    li{
                        height: 30px;
                    }
                }
            }
        }
    }
    > span {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        display: block;
        background-color: $red;
        color: #fff;
        font-weight: 600;
    }
 }

 .arcodian2{

 }

 .value-what {
    display: flex;
    margin: 0 auto;
    border: 1px solid red;
    justify-content: space-around;

    &__cont{
        font-weight: bold;

        &--red {
            color: red;
        }
    }
  }